* {
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("destination/background-destination-desktop.jpg");
  padding: 4% 10%;
  color: #fff;
}

.background-crew {
  background-image: url("crew/background-crew-desktop.jpg");
  padding: 4% 10%;
  color: #fff;
}

.background-technology {
  background-image: url("technology/background-technology-desktop.jpg");
  padding: 4% 10%;
  color: #fff;
}

/* ********************************navbar***************************/
a {
  margin: 10px 20px;
}

.navbar {
  -webkit-backdrop-filter: transparent(8px);
  backdrop-filter: transparent(8px);

}

.nav-link {
  color: #F9F9F9;
  font-size: 15px;
  font-family: 'Ibarra Real Nova', serif;
}

.navbar-toggler {
  background-color: #F9F9F9;
}

.nav-link:hover {
  color: white;

}

ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
}

ul li {
  padding: 6px 0;
}

ul li a {
  position: relative;
  display: flex;
  text-decoration: none;
  font-family: "Lato";
  font-size: 2rem;
  color: #ecf0f1;
  text-transform: uppercase;
  padding: 4px 0;
  transition: 0.5s;
}

ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #ff7000;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

ul li a:hover {
  color: #95a5a6;
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* mars tags */
.mars-img {
  width: 17rem;
}

.mars {
  text-align: center;
}

.about-mars {
  text-align: center;
  font-family: Ubuntu;
  padding: 3% 16%;
}

.mars-distance {
  text-align: right;
  font-family: 'Ibarra Real Nova', serif;
  padding: 3%;
}

/*****************************************Crew tags **********************/
.testimonials-images {

  width: 25%;
  height: 20%;
}

.carousel-item {
  text-align: center;
}

h2 {
  font-size: 1rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 3%;
  line-height: 2rem;
}

.content {
  padding: 0%;
  text-align: center;
  width: 90%;

}

.capsule-img {
  width: 30%;
  height: 30%;
}

#carouselExampleControls {
  margin: 2% 3%;
}

/**********************************heading**********************  */
.heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 28px;
}

.heading-technology {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 1% 7%;
}

/* *********************************card**********************  */
.card {

  text-align: center;
  background-color: transparent;

}

.btn {
  color: #fff;

}

/************************************ coloum***************** */
.col {
  margin: 1% 0%;

}

/************************************ card***************** */
.card-body {
  text-align: center;
}

/* ***************************tablet********************* */
@media screen and (max-width: 767px) {

  .background {
    background-image: url("destination/background-destination-tablet.jpg");
    padding: 3% 17%;
    color: #fff;
  }

  .background-crew {
    background-image: url("crew/background-crew-tablet.jpg");
    padding: 3% 10%;
    color: #fff;
  }

  .background-technology {
    background-image: url("technology/background-technology-tablet.jpg");
    padding: 3% 10%;
    color: #fff;
  }

}

/******************************** Mobile**********************/
@media (max-width:375px) {
  .background {
    background-image: url("destination/background-destination-mobile.jpg");
    padding: 3% 17%;
    color: #fff;
  }

  .background-crew {
    background-image: url("crew/background-crew-mobile.jpg");
    padding: 3% 10%;
    color: #fff;
  }

  .background-technology {
    background-image: url("technology/background-technology-mobile.jpg");
    padding: 3% 10%;
    color: #fff;
  }
}
